/* genral */
h1 {
    text-align: center;
    border: 2px solid rgba(245, 245, 245, 0);
    border-radius: 5%;
    /* background-color: rgba(238, 205, 205, 0.702); */
    padding: 3%;
    color: rgb(131, 82, 82);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


a {
    border: 2px solid rgba(245, 245, 245, 0);
    border-radius: 24px;
    padding: 12px 20px 12px 20px;
    text-align: center;
    text-decoration: dashed;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(138, 69, 69);
    margin: 2px;
    display: inline-block;
    margin: 3px;

}

nav {
    text-align: center;
}


a:hover {
 background:linear-gradient(45deg,#b0847f,#e3a8b7,#aa57a399);   /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); */
 color:#6c363f;
    transition: 0.6s;
    transform: scale(0.98);
    font-size: 20px;
    text-underline-position:below;
}


h1:hover {
    font-size: 35px;
    transition: 0.6s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

body {
    font-family: 'outfit';
background: linear-gradient(250deg,#b0847f,#e3a8b7,#aa57a399,#f5f3f3 );
}
.ji {
     background:linear-gradient(270deg,#934b57,#a77179,#934b57,#a77179);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.3) ;
}

header{
   text-align: center;
    bottom: 100;
    left:0;
   width: 100%;
   padding:0;
    background-color: rgba(238, 205, 205, 0.338); 
    margin: 0px;
}
header h1{
font-size: 32px;
font-weight: bold;
margin:0 ;
}
 hr {
            border: none;
            height: 2px;
            background-color: pink;
        }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer.jh{
    margin-top: 20px;
}

p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.jh {
    text-align: center;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(238, 205, 205,0.56);
    margin-top: 20px;
}

/* offers */
.offers {
    display: block;
    width: fit-content;
    margin-left: auto;
}

.offers-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 200px;
    text-align: center;
    padding: 40px 0 30px;
}

.offers-container {
    display: flex;
    justify-content:center;
    gap: 40px;
    margin-bottom: 10px;
}

.offers-container img {
    width:250px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.4s ease;
    
}

.offers-container img:hover {
    transform: scale(1.08);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.offers-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.offers-track {
  width: 320px;         
  overflow: hidden;
}
.offer-slide {
  width: 100%;
  border-radius: 25px;
  display: none;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.offer-slide.active {
  display: block;
}
.slider-btn {
  border: none;
  background: rgba(255,255,255,0.6);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.offers-card{
    background: #ffe9e5;
    padding: 18px;
    border-radius: 25px;
    transition: 0.3s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0) ;
}
.offers-card img{
    display: block;
    width: 220px ; 
    height: auto;
    border-radius: 20px;
    margin: 0 auto 10px;
}
.offers-card:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.10);
}

.order-msg{
    margin-top: 2px;
    margin-bottom: 50px;
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.3) ;
}
.order-msg a {
    display: inline-block;
    text-align:center;
    margin-top:15px;
    font-size: 18px;
    font-weight: 600;
    background:linear-gradient(270deg,#934b57,#a77179,#934b57,#a77179);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
}

/* contact */

.contact-container{
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    margin-bottom: 200px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-top: 2px;
}
.contact-left-titel h2{
    font-weight: 600;
    background:linear-gradient(45deg,#934b57,#a77179,#934b57,#a77179);
-webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.3) ;
}
.contact-left-titel hr{
    border: none;
    width: 120px;
    height: 5px;
     background: linear-gradient(270deg,#bd8089,#934b57);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3) ;
}
.contact-inputs{
    width: 400px;
    height:50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    margin-bottom: 10px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid  #a363aa;
}
.contact-inputs::placeholder{
    color: #a9a9a9;

}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size:#fff ;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff4fb0,#cf959f);
    cursor: pointer;
}

.contact-left button:hover{
     background: linear-gradient(270deg,#ed7dbb,#edaab7);
}
.contact-left botton img{
    height: 10px;
}
.contact-right img{
    width: 500px;
}
 /* icons */
.social {
    display: flex;
    gap: 15px;
    margin-top: 200px;
    margin-left: 50px;
}

.icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #e9dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.icon i {
    font-size: 20px;
    color: #5e5e5e;
}

.icon:hover {
    background: linear-gradient(270deg, #d8bfc3, #c999a1);
    color: white;
    border-color: transparent;
    transform: scale(1.1);
}

.icon:hover i {
    color: white;
}

/* menu */

 .menu-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 37px;
        }
        .item-card {
            background-color: rgba(238, 205, 205, 0.5);
            border-radius: 10px;
            margin: 10px;
            width: 220px;
            text-align: center;
            padding: 15px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }
        .item-card img {
            width: 100%;
            border-radius: 10px;
        }
        .item-name {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: #333;
        }
        .item-price {
            font-size: 16px;
            color: #a32c65;
        }
         .lab {
            display: block;
            margin: 10px 0 5px;
            color: #333;
            font-weight: bold;
           border-radius: 16px;
        }
        input, select {
            width: 100%;
            padding: 8px;
            border-radius: 6px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 16px;
        }

        /* order */

         .for {
            background-color: rgba(238, 205, 205, 0.5);
            width: 400px;
            margin: 30px auto;
            padding: 25px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            border-radius: 16px;
            margin-bottom: 250px;

        }
          input[type="submit"] {
            background:linear-gradient(270deg,#ff4fb0,#cf959f);
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
            border-radius: 16px;
        }
         input[type="submit"]:hover {
            background: linear-gradient(270deg,#ed7dbb,#edaab7);
        }
         .success {
            text-align: center;
            color: rgb(17, 130, 96);
            font-size: 20px;
            margin-top: 20px;
        }
         nav {
            text-align: center;
            margin: 20px;
        }
        nav a {
            text-decoration: none;
            color: rgb(138, 69, 69);
            font-weight: bold;
            margin: 0 10px;
        }
